# Логи, сгенерированные конфиги и локальные базы
logs/
wg/clients/
config/peers.json
config/archive.json
config/last_ip.json

# Виртуальное окружение
.venv/

# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
